<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Running Platform" sequenceNumber="45">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20170209-1843"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location configuration="/Users/seb/.eclipse/org.eclipse.platform_4.6.3_1193951052_macosx_cocoa_x86_64/configuration/" path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201706211236"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201706211236"/>
<repository location="https://dl.bintray.com/cooperate-project/osgj-jax-rs-connector/updatesite/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.3.1"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.3.0"/>
<unit id="org.emfjson.feature.feature.group" version="0.13.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.3.1"/>
<repository location="http://ghillairet.github.io/p2"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
</target>
